// Keywords
.wrapper-keywords .keyword-item {
    display: flex;
    align-items: center;
    padding: 10px 25px;
    gap: 10px;

    .icon-search-keyword {
        font-size: 1.4rem;
    }

    .keyword-content {
        font-size: 1.6rem;
        line-height: 21px;
        font-weight: 600;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
}

// Accounts
.wrapper-accounts .account-item {
    padding: 0;
}
