.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    border: 1px solid rgba(22, 24, 35, 0.12);
    gap: 8px;
}

.medium,
.large {
    &:hover {
        background-color: rgba(22, 24, 35, 0.03);
    }
}

.small {
    min-width: 48px;
    padding: 6px 10px;
    border-radius: 4px;
    font-size: 1.3rem;
    font-weight: 600;
    line-height: 21px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.medium {
    min-width: 36px;
    min-height: 36px;
    padding: 6px 10px;
    font-weight: 700;
    font-size: 1.6rem;
    line-height: 21px;
}

.large {
    width: 100%;
    font-size: 1.6rem;
    font-weight: 700;
    padding: 14px 8px;
}

.borderPrimary {
    border-color: var(--primary);
}

.bgPrimary {
    background-color: var(--primary);
    color: white;

    &:hover {
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.06), rgba(0, 0, 0, 0.06)), rgb(254, 44, 85);
    }
}

.bgWhite {
    background-color: var(--white);
}

.bgSecondary {
    background-color: rgba(0, 0, 0, 0.05);
    color: rgba(0, 0, 0, 1);

    &:hover {
        background-color: rgba(0, 0, 0, 0.12);
    }
}

.noneStyleButton {
    border: none;
    justify-content: flex-start;
    padding: 10px 8px 10px 15px;
    font-weight: 500;
    line-height: 21px;
}

.buttonIcon {
    padding: 4px 8px;
    border: none;
    gap: 0;
    font-size: 2.2rem;

    &:hover {
        background-color: transparent;
    }
}

.switch-button-wrapper {
    flex: 1;
    display: flex;
    justify-content: flex-end;
}

.switch-button {
    font-size: 2.2rem;
    color: rgba(47, 43, 43, 0.8);
}

.disable {
    background-color: rgba(22, 24, 35, 0.06);
    color: rgb(151, 152, 155);
    cursor: not-allowed;
    pointer-events: none;
}

.active {
    color: var(--primary) !important;

    .left-icon {
        display: none;
    }

    .left-icon-active {
        display: flex;
    }
}

.left-icon {
    display: flex;
}

.left-icon-active {
    display: none;
}

.rounded {
    border-radius: 50%;
}
